In [2]:
mi_tupla = (1,2,3, "hola", True)
print(mi_tupla)

(1, 2, 3, 'hola', True)

In [3]:
t = (1,1,2,3,3,3)
print(t)

(1, 1, 2, 3, 3, 3)

In [4]:
lista = [1,2,3]
print(lista)

[1, 2, 3]

In [5]:
tupla = (1,2,3)
print(tupla)

(1, 2, 3)

In [7]:
lista[0]=10
print(lista)

[10, 2, 3]

In [8]:
tupla[0]=10
print(tupla)

TypeError: 'tuple' object does not support item assignment

In [9]:
coordenadas = (40.7128, -74.0060)
coordenadas[0] = 41.0

TypeError: 'tuple' object does not support item assignment

In [10]:
tupla1 = (1,2,3)
tupla2 = ("a","b","c")
tupla3 = (1, "hola", 3.5)
tupla4 = ()
tupla5 = (5,)
print(tupla1)
print(tupla2)
print(tupla3)
print(tupla4)
print(tupla5)

(1, 2, 3)
('a', 'b', 'c')
(1, 'hola', 3.5)
()
(5,)

In [11]:
tupla = ("Python", 2025, True)
print(tupla[0])
print(tupla[1])
print(tupla[-1])

Python
2025
True

In [12]:
tupla = (10, 20, 30, 40, 50)
print(tupla[1:4])
print(tupla[:3])
print(tupla[::2])

(20, 30, 40)
(10, 20, 30)
(10, 30, 50)

In [13]:
colores = ("rojo", "verde", "azul")
for color in colores:
  print(color)

rojo
verde
azul

In [14]:
t = ((1,2), (3,4), (5,6))
print(t[0])
print(t[0][1])

(1, 2)
2

In [15]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
resultado = t1 + t2
print(resultado)

(1, 2, 3, 4, 5, 6)

In [16]:
t = ("Python",)*3
print(t)

('Python', 'Python', 'Python')

In [17]:
t = (10,20,30,40)
print(20 in t)
print(50 not in t)

True
True

In [18]:
persona = ("Nicolas", 22, "Colombia")
nombre, edad, pais = persona
print(nombre)
print(edad)
print(pais)

Nicolas
22
Colombia

In [20]:
t = (1,2,2,3,4,)
print(t.count(2))
print(t.index(3))

2
3

In [23]:
t = (5,1,7,3)
print(len(t))
print(max(t))
print(min(t))
print(sum(t))
print(sorted(t))

4
7
1
16
[1, 3, 5, 7]

In [24]:
lista = [1,2,3]
tupla = tuple(lista)
print(tupla)

(1, 2, 3)

In [25]:
nueva_lista = list(tupla)
print(nueva_lista)

[1, 2, 3]

In [27]:
persona = ("Nicolas", 22, "Colombia")
print("Nombre:", persona[0])
print("Edad:", persona[1])
print("País:", persona[2])

Nombre: Nicolas
Edad: 22
País: Colombia

In [28]:
coordenadas = {}
punto = (10, 20)
coordenadas[punto] = "Ubicación A"
print(coordenadas)

{(10, 20): 'Ubicación A'}

In [29]:
def operaciones(a, b):
  return a + b, a - b, a * b

suma, resta, producto = operaciones(5, 3)
print(suma, resta, producto)

8 2 15

In [30]:
frutas = ("manzana", "pera", "uva")
for i, fruta in enumerate(frutas):
  print(i, fruta)

0 manzana
1 pera
2 uva

In [31]:
a,b = 10,20
a,b = b, a
print(a,b)

20 10

In [32]:
# Ejercicio 1 – Crear una tupla
t = (1, 2, 3, 4, 5)
print(t) # (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [33]:
# Ejercicio 2 – Acceder al tercer elemento
t = (10, 20, 30, 40, 50)
print(t[2]) # 30

30

In [34]:
# Ejercicio 3 – Tupla con nombre y edad
info = ("Nicolás", 22)
print("Nombre:", info[0], "Edad:", info[1])

Nombre: Nicolás Edad: 22

In [35]:
# Ejercicio 4 – Concatenar tuplas
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(t1 + t2) # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [36]:
# Ejercicio 5 – Repetir una tupla
t = ("Python",) * 3
print(t) # ('Python', 'Python', 'Python')
# Ejercicio 6 – Verificar pertenencia
t = (5, 10, 15, 20, 25)
print(20 in t) # True

('Python', 'Python', 'Python')
True

In [37]:
# Ejercicio 7 – Desempaquetar tupla
paises = ("Colombia", "México", "Argentina")
a, b, c = paises
print(a, b, c) # Colombia México Argentina

Colombia México Argentina

In [38]:
# Ejercicio 8 – Tupla anidada
t = ((1, 2), (3, 4))
print(t[1][1]) # 4

4

In [39]:
# Ejercicio 9 – Función con suma y producto
def operaciones(a, b):
    return a+b, a*b
print(operaciones(3, 5)) # (8, 15)

(8, 15)

In [40]:
# Ejercicio 10 – Intercambio de valores
a, b = 7, 9
a, b = b, a
print(a, b) # 9 7

9 7

In [41]:
# Ejercicio 11 – Contar apariciones
t = (2, 4, 6, 2, 8, 2)
print(t.count(2)) # 3

3

In [42]:
# Ejercicio 12 – Índice de un valor
t = (10, 20, 30, 40, 50)
print(t.index(50)) # 4

4

In [43]:
# Ejercicio 13 – Funciones integradas
t = (4, 7, 1, 9, 3)
print(max(t)) # 9
print(min(t)) # 1
print(sum(t)) # 24

9
1
24

In [44]:
# Ejercicio 14 – Convertir lista a tupla
lista = [10, 20, 30]
t = tuple(lista)
print(t) # (10, 20, 30)

(10, 20, 30)

In [45]:
# Ejercicio 15 – Enumerate con tuplas
colores = ("rojo", "verde", "azul")
for i, color in enumerate(colores):
    print(i, color)

0 rojo
1 verde
2 azul